
<ion-content>
    <div ng-repeat="heading in headings" ng-click="checkState(heading)">
        <div class="row">
            <div class="col " style="height: 100px;background-color: #d2d2d2">
            </div>
        </div>
        <div class="row">
            <div class="col no-padding" style="background-color: grey;color: #ffffff;font-weight: 100">
                <p class="no-margin" style="font-size: 20px">{{heading}}</p>
                <p class="no-margin"> Subtitle Text</p>
            </div>
        </div>
    </div>
</ion-content>