<ion-content>
    <div class="row">
        <h4 class="col col-80 col-offset-10 text-center">You need to make at least 50 deliveries from various stores or 10 from the same store to offer your own delivery fees.</h4>
    </div>

    <div class="row">
        <h4 class="col col-80 col-offset-10 text-center">You’re almost there!</h4>
    </div>
    <div class="row">
        <h4 class="col col-80 col-offset-10 text-center">You’ve made 17 deliveries, 3 in which are from the same store.</h4>
    </div>
</ion-content>