<ion-content>
    <div class="row darkGreybackground no-padding no-margin">
        <p class="col">Product Identifier</p>
    </div>

    <div class="row">
        <div class="col col-34">
            <small class="col rowMargin">Billing Name</small>
            <small class="col rowMargin">Payment Method</small>
            <small class="col rowMargin">Card Type</small>
            <small class="col rowMargin">Credit Card Number</small>
            <small class="col ">Verification Code</small>
            <small class="col ">Expiration</small>

        </div>
        <div class="col col-66">
            <input type="text" class="col border rowMargin"/>
            <select name="" id="2" class=" col " style="margin-top: 18px">
                <option value="">Credit Card</option>
            </select>
            <select name="" id="4" class=" col " style="margin-top: 20px">
                <option value="">Visa</option>
            </select>
            <input type="text" class="col border rowMargin"/>
            <input type="text" class="col border rowMargin"/>
            <input type="text" class="col border rowMargin"/>
        </div>
    </div>

    <div class="row darkGreybackground no-padding no-margin">
        <p class="col">Card’s billing address information</p>
    </div>

    <div class="row">
        <div class="col col-34">
            <small class="col rowMargin">Address</small>
            <small class="col rowMargin">City</small>
            <small class="col rowMargin">State</small>
            <small class="col" style="margin-top: 20px">Country</small>


        </div>
        <div class="col col-66">
            <input type="text" class="col border rowMargin"/>
            <input type="text" class="col border rowMargin"/>
            <input type="text" class="col border rowMargin"/>
            <select name="" id="5" class=" col " style="margin-top: 10px">
                <option value="">United States</option>
            </select>
        </div>
    </div>
</ion-content>