<ion-content>
    <div class="row fontStyle" style="margin-top: 50px; font-style: italic">
        <h4 class="col text-center col-75 col-offset-10 fontLightWeight">Debit/Credit  Bank of America Master Card (1111)</h4>
    </div>

    <div class="row">
        <div class="col col-33 col-offset-33 text-center">Verified On 12/14/2014</div>
    </div>

    <div class="row">
        <button class="col col-50 col-offset-25">Verify it Now</button>
    </div>
    <div class="row rowMargin">
        <button class="col col-50 col-offset-25">Use as my default billing method</button>
    </div>
    <div class="row rowMargin">
        <button class="col col-50 col-offset-25">Delete from your device</button>
    </div>
</ion-content>