<ion-content>


    <div class="no-padding " ng-repeat="heading in headings" ng-click="checkRoute(heading)">
        <div class="row no-padding-ud no-margin">
            <div class="col col-80 col-offset-10" style="height: 100px;background-color: #d2d2d2">
            </div>
        </div>
        <div class="row no-padding-ud">
            <div class="col col-80 col-offset-10" style="background-color: grey;color: #ffffff;font-weight: 100">
                <p class="no-margin" style="font-size: 20px">{{heading}}</p>
            </div>
        </div>
    </div>
</ion-content>