<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #map {
    height: 100%;
  }
  #floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }

</style>
<ion-content>
    <div class="row">
        <h3 class="col fontLightWeight">{{orderStatusDetail.storeName}}</h3>
    </div>

    <div class="row darkGreybackground no-padding no-margin">
        <p class="col">Status</p>
    </div>

    <div class="">
        <!--<img class="" src="img/map.png" alt="" style="width: 100%;height: 240px" ng-click="changeState('manualOrderEntry')"/>-->
      <div id="map-canvas"style="width: 100%;height: 240px"></div>
    </div>

    <div class="row darkGreybackground no-padding no-margin">
        <p class="col">Order Status</p>
    </div>
    <p class="row no-margin">{{orderStatusDetail.status}}</p>
    <div class="row">
        <p class="col ">May 3, 2015 @ 13:35 by John Smith.</p>
    </div>
    <div class="row">
        <div class="col col-50">Scheduled delivery for {{orderStatusDetail.deliveryInformation.date.month}} {{orderStatusDetail.deliveryInformation.date.date}}, {{orderStatusDetail.deliveryInformation.date.year}} @ {{orderStatusDetail.deliveryInformation.date.time.hrs}}:{{orderStatusDetail.deliveryInformation.date.time.min}}</div>
        <div class="col col-50">
            <button class="button col-offset-20">View Orders</button>
        </div>
    </div>

    <div class="row darkGreybackground no-padding no-margin" ng-click="changeState('messagingView')">
        <p class="col">Messages</p>
    </div>

</ion-content>
