<ion-content>
    <div class="row darkGreybackground no-padding">
        <p class="col col-80 no-padding">Attach Receipts</p>
    </div>

    <div class="row">
        <div class="col">
            <a href="" class="col col-90 text-center"><p>Find a Receipt</p></a>
            <img src="img/loginLogo.png" alt="" class="col col-90"/>
            <p class="col col-90 text-center">$85.33</p>
        </div>

        <div class="col">
            <a href="" class="col col-90 text-center" ng-click="takePicture()"><p>Scan the Receipt</p></a>
            <img src="img/loginLogo.png" alt="" class="col col-90"/>
            <p class="col col-90 text-center">$85.33</p>
        </div>
    </div>

       <h4 class="col col-80 col-offset-10 text-center">Total Purchase Cost</h4>
       <h4 class="col col-80 col-offset-10 text-center">$100.66</h4>
    <p class="col col-80 col-offset-10 text-center greyBackground" style="">I have arrived my delivery point.</p>
</ion-content>
