<ion-content>
    <div class="row darkGreybackground no-padding text-center" style="margin-top: 2%">
        <p class="col col-10 no-padding">#</p>
        <p class="col col-90 no-padding ">Orders, Messages, & Updates</p>
    </div>

    <div class="row" ng-repeat="message in inbox" ng-class="{'whiteBackground': $index%2==0,'greyBackground':$index%2!=0 }" ng-click="changeState('messagingView')">
        <p class="col col-10 no-padding">{{$index+1}}</p>
        <p class="col col-90 no-padding">{{message}}</p>
    </div>

       <div class="row no-margin">
       <div class="col col-50">
           <p class="col">Active Messages</p>
           <p class="col">Archived Messages</p>
       </div>
       <div class="col col-50">
         <ion-toggle class="switch " ng-model="Mode" toggle-class="toggle-calm"></ion-toggle>
        <ion-toggle class="switch " ng-model="asad" toggle-class="toggle-calm"></ion-toggle>
       </div>
   </div>
</ion-content>

<ion-footer-bar>
    <div class="row">
        <button class="col col-offset-25 button col-50" >Refresh</button>
    </div>
</ion-footer-bar>