<ion-content>
    <div class="row darkGreybackground no-padding">
    <p class="col col-80 no-padding">Order-Delivery Messaging System </p>
    </div>
    <p class="row no-margin">Wal-Mart Order # ABC-123D</p>

    <div class="row no-margin">
        <div class="col col-66  from-them">
            <p class="col textBold fontstyle">Delivery Instruction:</p>
            <p class="col fontStyle  textMarginTop">Upon arrival, please leave ring the door bell and wait for someone to receive the items.  Thank you.</p>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col col-66 from-them">
            <p class="col fontStyle">In store</p>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col col-66  from-them">
            <p class="col fontStyle">Order Accepted</p>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col col-66  col-offset-33 from-me">
            <p class="col fontStyle">It's Ok</p>
        </div>
    </div>
</ion-content>

<ion-footer-bar>
    <div class="row">
        <input type="text" class="col border" placeholder="Type Message Here."/>
    </div>
</ion-footer-bar>
